# === Global ===
DOMAIN_NAME=alebaron.42.fr
 
# === MariaDB ===
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user

# === WordPress ===
WP_TITLE=Inception
WP_ADMIN_USER=exemple_superviseur
WP_ADMIN_EMAIL=admin@alebaron.42.fr
WP_USER=exemple_editeur
WP_USER_EMAIL=editeur@alebaron.42.fr